/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * reset of default margins and paddings.
 */
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,p,img, span, div {
  caret-color: transparent;
}

/* ==========================================================================
   #VARIABLES
   ========================================================================== */

:root {
  /** Sizes */
  --player-height: clamp(7.143rem, 5.357rem + 4.167vw, 9.643rem);
  --title-fontsize: clamp(1rem, 0.3rem + 1.167vw, 1.5rem);
  --player-padding: clamp(0rem, -5.571rem + 20vw, 15rem);
  --player-margin-l: clamp(0.8rem, -1.843rem + 6.167vw, 4.5rem);
  --player-margin-m: clamp(0.4rem, -0.386rem + 1.833vw, 1.5rem);
  --player-margin-s: clamp(0.3rem, 0.086rem + 0.5vw, 0.6rem);
  --player-margin-xs: clamp(0.2rem, 0.057rem + 0.333vw, 0.4rem);

  --bar-radius: 10px;
  --bar-height: 0.5em;
  --bar-input-height: calc(var(--bar-height) * 1.19999);
  --thumb-height: clamp(0.8rem, 0.586rem + 0.5vw, 1.1rem);
  --play-btn-size: clamp(1.7rem, 1.2rem + 1.167vw, 2.4rem);
  --volume-btn-size: calc(var(--play-btn-size) / 1.5);
  --volume-bar-width: clamp(2.8rem, -0.2rem + 7vw, 7rem);

  /** Color */
  --player-bg: rgba(34, 34, 34, 0.8);
  --title-color: white;
  --bar-color: #00ff00;
  --bar-container-color: #333;

  /** Fonts */
  --title-font: "Asap Bold", sans-serif;
}

/* ==========================================================================
   #AUDIO PLAYER
   ========================================================================== */

#audio-player-container {
  width: 100%;
  height: var(--player-height);
  background-color: var(--player-bg);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  padding-left: var(--player-padding);
  padding-right: var(--player-padding);
}

#audio-image {
  background-image: url("./asset/img/image-saison1.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: var(--player-height);
  width: var(--player-height);
}

.track-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: var(--player-margin-l);
}

#audio-controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

#play-pause-button {
  width: var(--play-btn-size);
  height: var(--play-btn-size);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Quk8H-smZwKezMxfMoB-pRA4gqYkIfi0funqmyRceA&s");
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  margin-right: var(--player-margin-s);
}

#volume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: var(--player-margin-m);
}

#volume-icon {
  width: var(--volume-btn-size);
  height: var(--volume-btn-size);
  background-image: url("https://media.istockphoto.com/id/1305893663/vector/silent-sound-off-icon-vector-for-your-web-design-logo-ui-illustration.jpg?s=612x612&w=0&k=20&c=czrINWt2weKC3fLHU3KqI2eZBFdwhOuuCZxS5JNGpSU=");
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  margin-right: 0.4em;
}

#volume-slider {
  -webkit-appearance: none;
  appearance: none;
  height: var(--bar-input-height);
  width: var(--volume-bar-width);
  background: linear-gradient(to right, var(--bar-color) 0%, var(--bar-color) 50%, var(--bar-container-color) 50%, var(--bar-container-color) 100%);
  outline: none;
  border-radius: var(--bar-radius);
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-height);
  height: var(--thumb-height);
  background-color: var(--title-color);
  border-radius: 50%;
  cursor: pointer;
}

#progress-container {
  flex-grow: 1;
  height: var(--bar-height);
  background-color: var(--bar-container-color);
  border-radius: var(--bar-radius);
}

#progress-container:hover{
  cursor: pointer;
}


#progress-bar {
  height: 100%;
  background-color: var(--bar-color);
  width: 0%;
  border-radius: var(--bar-radius);
  transition: width 0.2s ease-in-out;
}

#audio-title-container {
 margin-bottom: var(--player-margin-s);
}

#current-title {
  font-family: var(--title-font);
  font-size: var(--title-fontsize);
  color: var(--title-color);
}

@media (max-width: 480px) {
  #audio-controls-container {
    margin-right: var(--player-margin-l);
  }
}